# Обработка данных. Pandas

In [ ]:
import pandas as pd

### Задача 1
Вася хочет минимизировать вес продуктов и для этого брать самые калорийные продукты. Помогите ему и упорядочите продукты по убыванию калорийности. В случае, если продукты имеют одинаковую калорийность - упорядочите их по названию. В качестве ответа необходимо сдать названия продуктов, по одному в строке.

In [2]:
# Подключаем файл
df_dir = pd.read_excel('trekking1.xlsx')
df_dir.head(10)

                          Unnamed: 0  ККал на 100  Б на 100  Ж на 100  У на 100
0                         Сухофрукты        548.0      12.8      40.8      32.4
1                       Каша Быстров        334.0       8.6       4.8      64.0
2                Балык "Королевский"        170.0      25.0       8.0       NaN
3  Колбаса с/к "Еврейская полусухая"        481.0      19.0      45.0       NaN
4       Суп гороховый с копченостями        390.0      16.0      11.0      52.0
5               Суп томатный с рисом        205.5       4.7       1.3      42.2
6                  Говядина Кронидов        213.0      15.0      17.0       NaN
7                   Свинина Кронидов        349.0      13.0      33.0       NaN
8             Рис пропаренный Увелка        350.0       8.0       1.0      78.0
9                    Крупа гречневая        360.0      13.0       2.0      72.0

In [3]:
# Заменяем NaN на 0, как и сказано в условии задачи
# Изменяем название первого столбца для удобства
df_dir.rename(columns={'Unnamed: 0':'Product'}, inplace=True)
df_dir = df_dir.fillna(0)
df_dir.head(10)

                             Product  ККал на 100  Б на 100  Ж на 100  У на 100
0                         Сухофрукты        548.0      12.8      40.8      32.4
1                       Каша Быстров        334.0       8.6       4.8      64.0
2                Балык "Королевский"        170.0      25.0       8.0       0.0
3  Колбаса с/к "Еврейская полусухая"        481.0      19.0      45.0       0.0
4       Суп гороховый с копченостями        390.0      16.0      11.0      52.0
5               Суп томатный с рисом        205.5       4.7       1.3      42.2
6                  Говядина Кронидов        213.0      15.0      17.0       0.0
7                   Свинина Кронидов        349.0      13.0      33.0       0.0
8             Рис пропаренный Увелка        350.0       8.0       1.0      78.0
9                    Крупа гречневая        360.0      13.0       2.0      72.0

In [4]:
# Сортируем
df_sort = df_dir.sort_values(by=['ККал на 100', 'Product'], ascending=[False,True])
df_sort.head(10)

                          Product  ККал на 100  Б на 100  Ж на 100  У на 100
14         Шоколад молочный какао        601.0       7.0      43.0      46.0
15       Шоколад молочный миндаль        574.0       7.7      38.2      49.5
0                      Сухофрукты        548.0      12.8      40.8      32.4
35  Омлет с копченостями галагала        544.0      45.0      30.0       4.7
26         Свинина сублимрованная        543.0      58.0      35.0       0.0
16            Шоколад ремесленный        540.0      10.8      37.8      37.1
13           Козинак подсолнечный        530.0      14.0      37.0      36.0
34       Омлет с грибами галагала        526.0      43.0      30.0       4.7
12             Козинак арахисовый        520.0      15.0      26.0      55.0
21       Хлебцы льняные "Тайские"        507.0      19.0      39.0      20.0

### Задача 2
Вася составил раскладку по продуктам на один день (она на листе "Раскладка") с указанием названия продукта и его количества в граммах. Посчитайте 4 числа: суммарную калорийность и граммы белков, жиров и углеводов. Числа округлите до целых вниз и введите через пробел

In [6]:
# Подключаем файл и заменяем NaN на 0, как в условии задачи
# Изменяем имя 1 столбца в справочнике для удобства
df_dir = pd.read_excel('trekking2.xlsx', sheet_name='Справочник').fillna(0)
df_dir.rename(columns={'Unnamed: 0':'Продукт'}, inplace=True)
df_day = pd.read_excel('trekking2.xlsx', sheet_name='Раскладка')

print(df_dir.head(10))
print(df_day)

                             Продукт  ККал на 100  Б на 100  Ж на 100  У на 100
0                         Сухофрукты        548.0      12.8      40.8      32.4
1                       Каша Быстров        334.0       8.6       4.8      64.0
2                Балык "Королевский"        170.0      25.0       8.0       0.0
3  Колбаса с/к "Еврейская полусухая"        481.0      19.0      45.0       0.0
4       Суп гороховый с копченостями        390.0      16.0      11.0      52.0
5               Суп томатный с рисом        205.5       4.7       1.3      42.2
6                  Говядина Кронидов        213.0      15.0      17.0       0.0
7                   Свинина Кронидов        349.0      13.0      33.0       0.0
8             Рис пропаренный Увелка        350.0       8.0       1.0      78.0
9                    Крупа гречневая        360.0      13.0       2.0      72.0
                              Продукт  Вес в граммах
0            Омлет с грибами галагала             60
1                         Сыр Маасдам             80
2              Хлебцы льняные Морские             55
3        Суп гороховый с копченостями             44
4              Хлебцы льняные Морские             55
5   Колбаса с/к "Еврейская полусухая"             80
6                   Говядина Кронидов            250
7                     Крупа гречневая            160
8         Сухарики ржаные с семечками            120
9   Колбаса с/к "Еврейская полусухая"             80
10                         Сухофрукты            150
11           Шоколад молочный миндаль             80

In [7]:
# Добавляем недостающую информацию из справочника в раскладку
df_day = df_day.merge(df_dir, on='Продукт')
df_day

                              Продукт  Вес в граммах  ...  Ж на 100  У на 100
0            Омлет с грибами галагала             60  ...      30.0       4.7
1                         Сыр Маасдам             80  ...      30.0       0.0
2              Хлебцы льняные Морские             55  ...      29.0       1.5
3              Хлебцы льняные Морские             55  ...      29.0       1.5
4        Суп гороховый с копченостями             44  ...      11.0      52.0
5   Колбаса с/к "Еврейская полусухая"             80  ...      45.0       0.0
6   Колбаса с/к "Еврейская полусухая"             80  ...      45.0       0.0
7                   Говядина Кронидов            250  ...      17.0       0.0
8                     Крупа гречневая            160  ...       2.0      72.0
9         Сухарики ржаные с семечками            120  ...      16.0      59.5
10                         Сухофрукты            150  ...      40.8      32.4
11           Шоколад молочный миндаль             80  ...      38.2      49.5

[12 rows x 6 columns]

In [8]:
# Проводим необходимые подсчеты
df_day['Кол-во ККал'] = df_day['ККал на 100'] / 100 * df_day['Вес в граммах']
df_day['Кол-во Б'] = df_day['Б на 100'] / 100 * df_day['Вес в граммах']
df_day['Кол-во Ж'] = df_day['Ж на 100'] / 100 * df_day['Вес в граммах']
df_day['Кол-во У'] = df_day['У на 100'] / 100 * df_day['Вес в граммах']

print('Суммарная калорийность:', int(df_day['Кол-во ККал'].sum()))
print('Сумма белков в граммах:', int(df_day['Кол-во Б'].sum()))
print('Сумма жиров в граммах:', int(df_day['Кол-во Ж'].sum()))
print('Сумма углеводов в граммах:', int(df_day['Кол-во У'].sum()))

Суммарная калорийность: 4963
Сумма белков в граммах: 203
Сумма жиров в граммах: 307
Сумма углеводов в граммах: 302

### Задача 3

Вася составил раскладку по продуктам на весь поход (она на листе "Раскладка") с указанием номера дня, названия продукта и его количества в граммах. Для каждого дня посчитайте 4 числа: суммарную калорийность и граммы белков, жиров и углеводов. Числа округлите до целых вниз и введите через пробел. Информация о каждом дне должна выводиться в отдельной строке.

In [9]:
# Подключаем файл и заменяем NaN на 0, как в условии задачи
# Изменяем имя 1 столбца в справочнике для удобства
df_dir = pd.read_excel('trekking3.xlsx', sheet_name='Справочник').fillna(0)
df_dir.rename(columns={'Unnamed: 0':'Продукт'}, inplace=True)
df_day = pd.read_excel('trekking3.xlsx', sheet_name='Раскладка')

print(df_dir.head(10))
print(df_day)

                             Продукт  ККал на 100  Б на 100  Ж на 100  У на 100
0                         Сухофрукты        548.0      12.8      40.8      32.4
1                       Каша Быстров        334.0       8.6       4.8      64.0
2                Балык "Королевский"        170.0      25.0       8.0       0.0
3  Колбаса с/к "Еврейская полусухая"        481.0      19.0      45.0       0.0
4       Суп гороховый с копченостями        390.0      16.0      11.0      52.0
5               Суп томатный с рисом        205.5       4.7       1.3      42.2
6                  Говядина Кронидов        213.0      15.0      17.0       0.0
7                   Свинина Кронидов        349.0      13.0      33.0       0.0
8             Рис пропаренный Увелка        350.0       8.0       1.0      78.0
9                    Крупа гречневая        360.0      13.0       2.0      72.0
    День                      Продукт  Вес в граммах
0      1       Рис пропаренный Увелка            160
1      1             Свинина Кронидов            250
2      1     Хлебцы льняные "Тайские"            110
3      1          Балык "Королевский"             50
4      1       Шоколад молочный какао             55
..   ...                          ...            ...
94     8       Шоколад молочный какао             55
95     9  Сухарики ржаные с семечками            120
96     9          Балык "Королевский"             80
97     9                   Сухофрукты            150
98     9                 Каша Быстров             80

[99 rows x 3 columns]

In [10]:
# Добавляем недостающую информацию из справочника в раскладку
df_day = df_day.merge(df_dir, on='Продукт')
df_day

    День                            Продукт  ...  Ж на 100  У на 100
0      1             Рис пропаренный Увелка  ...       1.0      78.0
1      7             Рис пропаренный Увелка  ...       1.0      78.0
2      1                   Свинина Кронидов  ...      33.0       0.0
3      3                   Свинина Кронидов  ...      33.0       0.0
4      1           Хлебцы льняные "Тайские"  ...      39.0      20.0
..   ...                                ...  ...       ...       ...
94     5  Суп куриный с картофелем галагала  ...      12.0      56.4
95     5                 Козинак арахисовый  ...      26.0      55.0
96     6                 Козинак арахисовый  ...      26.0      55.0
97     7                 Козинак арахисовый  ...      26.0      55.0
98     8           Борщ Московский Галагала  ...      10.0      52.0

[99 rows x 7 columns]

In [11]:
# Проводим необходимые подсчеты
df_day['Кол-во ККал'] = df_day['ККал на 100'] / 100 * df_day['Вес в граммах']
df_day['Кол-во Б'] = df_day['Б на 100'] / 100 * df_day['Вес в граммах']
df_day['Кол-во Ж'] = df_day['Ж на 100'] / 100 * df_day['Вес в граммах']
df_day['Кол-во У'] = df_day['У на 100'] / 100 * df_day['Вес в граммах']

# Удаляем лишние столбцы для удобства
df_day.drop(columns = ['ККал на 100', 'Б на 100', 'Ж на 100', 'У на 100', 'Вес в граммах'], inplace=True)
df_day

    День                            Продукт  ...  Кол-во Ж  Кол-во У
0      1             Рис пропаренный Увелка  ...      1.60   124.800
1      7             Рис пропаренный Увелка  ...      1.60   124.800
2      1                   Свинина Кронидов  ...     82.50     0.000
3      3                   Свинина Кронидов  ...     82.50     0.000
4      1           Хлебцы льняные "Тайские"  ...     42.90    22.000
..   ...                                ...  ...       ...       ...
94     5  Суп куриный с картофелем галагала  ...      5.28    24.816
95     5                 Козинак арахисовый  ...     20.80    44.000
96     6                 Козинак арахисовый  ...     20.80    44.000
97     7                 Козинак арахисовый  ...     20.80    44.000
98     8           Борщ Московский Галагала  ...      4.40    22.880

[99 rows x 6 columns]

In [15]:
# Группируем значения по дню и суммируем
df_day_sums = df_day.groupby(['День']).sum()
df_day_sums

      Кол-во ККал  Кол-во Б  Кол-во Ж  Кол-во У
День
1         2405.75    82.550    154.65   172.100
2         4963.85   203.170    307.40   302.150
3         5219.70   178.770    267.39   502.814
4         4873.15   241.138    204.65   537.856
5         5278.40   243.440    314.68   367.416
6         4451.70   190.530    188.35   497.450
7         4806.60   205.838    265.83   386.586
8         5738.75   264.930    195.39   720.130
9         1766.40    66.840     90.64   171.200

### Задача 4


Главный бухгалтер компании "Рога и копыта" случайно удалил ведомость с начисленной зарплатой. К счастью, у него сохранились расчётные листки всех сотрудников. Помогите по этим расчётным листкам восстановить зарплатную ведомость.

Ведомость должна содержать 1000 строк, в каждой строке должно быть указано ФИО сотрудника и, через пробел, его зарплата. Сотрудники должны быть упорядочены по алфавиту.

In [21]:
# Проходимся циклом по xlsx, получаем значения фио и зп
# Записываем все в dataframe
df_zp = pd.DataFrame({'ФИО':None, 'Начислено':None}, index=[1])
for i in range(1, 1001):
    file = f'./2.4/{i}.xlsx'
    df1 = pd.read_excel(file)
    df_zp.loc[i] = [df1.iloc[0][1], df1.iloc[0][3]]

# Сортируем по алфавиту
df_zp = df_zp.sort_values(by='Начислено', ascending=False)
df_zp

                                ФИО Начислено
857       Дмитриев Михаил Сергеевич    199709
193      Алексеев Лев Александрович    199676
225           Алексеев Иван Львович    199640
487      Сергеев Александр Петрович    199386
161               Львов Лев Львович    199311
..                              ...       ...
685          Львов Василий Иванович     11028
858          Петров Петр Алексеевич     11021
68            Петров Сидор Петрович     10834
796            Дмитриев Лев Львович     10266
478  Александров Василий Алексеевич     10140

[1000 rows x 2 columns]